<%= form_for(presentation_page) do |f| %>
  <% if presentation_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presentation_page.errors.count, "error") %> prohibited this presentation_page from being saved:</h2>

      <ul>
      <% presentation_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
