<nav class="navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler hamburger hamburger-close collapsed" data-target="#example-navbar-collapse-3" data-toggle="collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)"><%= site_name %></a>
    </div>
    <div class="navbar-collapse collapse" id="example-navbar-collapse-3" aria-expanded="false">

      <% if logged_in? %>
      <%= link_to "Come back to #{site_name} Portal", projects_path, class: "mr-20 btn btn-primary navbar-right navbar-btn " %>
      <% else %>
      <%= link_to "Sign Up", new_user_path, class: "mr-20 btn btn-info navbar-right navbar-btn" %>
      <%= link_to "Sign In", sign_in_path, class: "mr-20 btn btn-primary navbar-right navbar-btn " %>
      <% end %>
    </div>
  </div>
</nav>
