<%= render 'visitor/header' unless current_user %>
<%= render 'visitor/menu' unless current_user %>

<div class="bg-white">
  <div class="page-header">
    <h1 class="page-title">Getting Started</h1>
    <form class="mt-20" action="#" role="search">
      <div class="input-search input-search-dark">
        <input type="text" class="form-control w-full" placeholder="Search..." name="">
        <button type="submit" class="input-search-btn">
          <i class="icon md-search" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </div>

  <div class="page-content  page-content-table  ">
    <table class="table is-indent ">
      <tbody>
        <%= render @forum.topics %>
      </tbody>
    </table>
  </div>
</div>
