<footer class="page-copyright page-copyright-inverse">
  <p>©<%=Date.today.year%> FlossCoach</p>
  <div class="social">
    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
      <i class="icon bd-twitter" aria-hidden="true"></i>
    </a>
    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
      <i class="icon bd-facebook" aria-hidden="true"></i>
    </a>
    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
      <i class="icon bd-google-plus" aria-hidden="true"></i>
    </a>
  </div>
</footer>
