<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
              <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
              <span class="site-menu-title">Projects</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li class="site-menu-item">
                <%= link_to projects_path do %>
                <span class="site-menu-title">All projects</span>
                <% end %>
              </li>
              <li class="site-menu-item">
                <%= link_to recent_projects_path do %>
                <span class="site-menu-title">Recent projets</span>
                <% end %>
              </li>
              <li class="site-menu-item">
                <%= link_to most_favorited_projects_path do %>
                <span class="site-menu-title">Most favorited</span>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </li>



    </ul>
  </li>
</ul>
</div>
</div>
</div>
</div>
