<div class="comments">
<% if comments.empty? %>
  <b>No comments no show.</b>
<% else %>
<% comments.each do |comment| %>
	<% reply ||= true %>
  <%= render "comments/show", :comment => comment ,  :reply =>  reply %>
<% end %>

<% end %>
</div>