<div class="fields-form">
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div class="summary-errors alert alert-danger alert-dismissible">
    <button type="button" class="close" aria-label="Close" data-dismiss="alert">
      <span aria-hidden="true">×</span>
    </button>
    <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li data-field="summary_fullName"><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <div class="form-group">
    <label class="sr-only" for="user_name">Full Name</label>
    <input type="text" class="form-control" id="user_name" name="user[name]" placeholder="Name">
  </div>

  <div class="form-group">
    <label class="sr-only" for="user_email">Email</label>
    <input type="email" class="form-control" id="user_email" name="user[email]" placeholder="Email">
  </div>

  <div class="form-group">
    <label class="sr-only" for="user_password">Password</label>
    <input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Password">
  </div>

  <div class="form-group">
    <label class="sr-only" for="user_password_confirmation">Retype Password</label>
    <input type="password" class="form-control" id="user_password_confirmation" name="user[password_confirmation]" placeholder="Confirm Password">
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>

  <% end %>
</div>
