<div class="tab-pane active animation-slide-left" id="recent-activities" role="tabpanel">
        <ul class="list-group">
        <% if !@recent_activities.empty? %>
          <% @recent_activities.each do |audit| %>
            <%= render 'audit', :audit => audit %>
          <% end %>
          <% else%>
            <b>No data to show.</b>
          <% end %>
        </ul>
      </div>