
<div class="page-content">
  <!-- Panel -->
  <div class="panel">
    <div class="panel-body">
      <%= form_tag users_path, :method => 'get', class: "page-search-form" do %>
      <div class="input-search input-search-light">
        <i class="input-search-icon md-search" aria-hidden="true"></i>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder:"Search users..." %>
        <button type="button" class="input-search-close icon md-close" aria-label="Close"></button>
      </div>

  
        <% end %>
=======
This is my file!


I don't want you to change it!
