
<div class="page-content">
  <!-- Panel -->
  <div class="panel">
    <div class="panel-body">
      <%= form_tag users_path, :method => 'get', class: "page-search-form" do %>
      <div class="input-search input-search-dark">
        <i class="input-search-icon md-search" aria-hidden="true"></i>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder:"Search users..." %>
        <button type="button" class="input-search-close icon md-close" aria-label="Close"></button>
      </div>

  
        <% end %>


      <hr>
      <div class="nav-tabs-horizontal nav-tabs-animate">
        <div class="tab-content">
          <div class="tab-pane animation-fade active" role="tabpanel" aria-expanded="true">
            <ul class="list-group">
              <%= render @users %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Panel -->
</div>
