
<div class="comment media">
  <div class="media-left">
    <a class="avatar avatar-lg" href="javascript:void(0)">
      <img src="../../global/portraits/8.jpg" alt="...">
    </a>
  </div>
  <div class="comment-body media-body">
    <a class="comment-author" href="javascript:void(0)">Jonas</a>
    <div class="comment-meta">
      <span class="date">5 days ago</span>
    </div>
    <div class="comment-content">
      <p>Lorem ipsum Ullamco fugiat esse culpa consequat velit veniam
        incididunt incididunt nostrud labore nostrud sit dolore in
        nulla sit non laborum.</p>
    </div>
    <div class="comment-actions">
      <a class="text-like icon wb-heart" href="javascript:void(0)" role="button"></a>
      <!-- <a href="javascript:void(0)" role="button">Reply</a> -->
    </div>
  </div>
</div>
