<div class="basic_flow" align="center">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="1020.0000000000002" height="260">
   <defs></defs>
   <g transform="translate(0,0)">
      <g>
         <rect fill="#FFFFFF" stroke="none" x="0" y="0" width="1020.0000000000002" height="260"></rect>
      </g>
      <g transform="translate(0,0) matrix(1,0,0,1,10,-1.4210854715202004e-14)">
         <g>
            <g transform="translate(0,0) scale(9.900000000000002,2.4)">
               <g>
                  <g transform="scale(0.101010101010101,0.4166666666666667)">
                     <path fill="#d9d9d9" stroke="none" d="M 0 72 L 870.0000000000001 72 L 870.0000000000001 0 L 990.0000000000002 120 L 870.0000000000001 240 L 870.0000000000001 168 L 0 168 L 0 72 Z" opacity="0.53"></path>
                     <path fill="none" stroke="#d9d9d9" d="M 0 72 M 0 72 L 870.0000000000001 72 L 870.0000000000001 0 L 990.0000000000002 120 L 870.0000000000001 240 L 870.0000000000001 168 L 0 168 L 0 72 Z" stroke-miterlimit="10" stroke-width="2" opacity="0.53"></path>
                  </g>
               </g>
            </g>
         </g>
      </g>
      <g transform="translate(0,0) matrix(1,0,0,1,22.058823529411598,10)">
         <g>
            <g transform="translate(0,0) scale(2.38,0.8999999999999999)">
               <g>
                  <path fill="none" stroke="none" d="M 10 0 L 90 0 Q 100 0 100 10 L 100 90 Q 100 100 90 100 L 10 100 Q 0 100 0 90 L 0 10 Q 0 0 10 0 Z"></path>
                  <g transform="scale(0.42016806722689076,1.1111111111111112)">
                     <a xlink:href="/domains/mycoach/index.php/my-coach/amarok">
						<path id="skillBox" fill="#cc0000" stroke="none" d="M 10 0 L 228 0 Q 238 0 238 10 L 238 79.99999999999999 Q 238 89.99999999999999 228 89.99999999999999 L 10 89.99999999999999 Q 0 89.99999999999999 0 79.99999999999999 L 0 10 Q 0 0 10 0 Z" opacity="0.73"></path>
						<path fill="none" stroke="#cc0000" d="M 10 0 M 10 0 L 228 0 Q 238 0 238 10 L 238 79.99999999999999 Q 238 89.99999999999999 228 89.99999999999999 L 10 89.99999999999999 Q 0 89.99999999999999 0 79.99999999999999 L 0 10 Q 0 0 10 0 Z" stroke-miterlimit="10" stroke-width="2" opacity="0.73"></path>
					</a>
                  </g>
               </g>
            </g>
         </g>
      </g>
      <g transform="scale(1,1) matrix(1,0,0,1,24.325490196078263,10) translate(2,26.999999999999993)">
        <a xlink:href="/domains/mycoach/index.php/my-coach/amarok">
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="normal" font-weight="bold" text-decoration="none" x="47.18124745686845" y="15">Learn about the</text>
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="normal" font-weight="bold" text-decoration="none" x="41.17083333333329" y="33">project and skills</text>
		</a>
      </g>
      <g transform="translate(0,0) matrix(1,0,0,1,170,110)">
         <g>
            <g transform="translate(0,0) scale(2.3294117647058825,0.8999999999999999)">
               <g>
                  <path fill="none" stroke="none" d="M 10 0 L 90 0 Q 100 0 100 10 L 100 90 Q 100 100 90 100 L 10 100 Q 0 100 0 90 L 0 10 Q 0 0 10 0 Z"></path>
                  <g transform="scale(0.4292929292929293,1.1111111111111112)">
                     <a xlink:href="/domains/mycoach/index.php/12-amarok/24-amaroksetup">
						<path id="setupBox" fill="#cc0000" stroke="none" d="M 10 0 L 222.94117647058826 0 Q 232.94117647058826 0 232.94117647058826 10 L 232.94117647058826 79.99999999999999 Q 232.94117647058826 89.99999999999999 222.94117647058826 89.99999999999999 L 10 89.99999999999999 Q 0 89.99999999999999 0 79.99999999999999 L 0 10 Q 0 0 10 0 Z" opacity="0.73"></path>
						<path fill="none" stroke="#cc0000" d="M 10 0 M 10 0 L 222.94117647058826 0 Q 232.94117647058826 0 232.94117647058826 10 L 232.94117647058826 79.99999999999999 Q 232.94117647058826 89.99999999999999 222.94117647058826 89.99999999999999 L 10 89.99999999999999 Q 0 89.99999999999999 0 79.99999999999999 L 0 10 Q 0 0 10 0 Z" stroke-miterlimit="10" stroke-width="2" opacity="0.73"></path>
					</a>
				  </g>
               </g>
            </g>
         </g>
      </g>
      <g transform="scale(1,1) matrix(1,0,0,1,172.21848739495798,110) translate(2,26.999999999999993)">
		<a xlink:href="/domains/mycoach/index.php/12-amarok/24-amaroksetup">
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="normal" font-weight="bold" text-decoration="none" x="43.20001496387127" y="15">Setup your local</text>
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="normal" font-weight="bold" text-decoration="none" x="65.70001877856853" y="33">workspace</text>
		</a>
      </g>
      <g transform="translate(0,0) matrix(1,0,0,1,322.9411764705883,10)">
         <g>
            <g transform="translate(0,0) scale(2.4,0.8999999999999999)">
               <g>
                  <path fill="none" stroke="none" d="M 10 0 L 90 0 Q 100 0 100 10 L 100 90 Q 100 100 90 100 L 10 100 Q 0 100 0 90 L 0 10 Q 0 0 10 0 Z"></path>
                  <g transform="scale(0.4166666666666667,1.1111111111111112)">
                     <a xlink:href="/domains/mycoach/index.php/12-amarok/23-amaroktask?r=13#choosing-a-task-to-start-with">
						<path id="startBox" fill="#cc0000" stroke="none" d="M 10 0 L 230 0 Q 240 0 240 10 L 240 79.99999999999999 Q 240 89.99999999999999 230 89.99999999999999 L 10 89.99999999999999 Q 0 89.99999999999999 0 79.99999999999999 L 0 10 Q 0 0 10 0 Z" opacity="0.73"></path>
						<path fill="none" stroke="#cc0000" d="M 10 0 M 10 0 L 230 0 Q 240 0 240 10 L 240 79.99999999999999 Q 240 89.99999999999999 230 89.99999999999999 L 10 89.99999999999999 Q 0 89.99999999999999 0 79.99999999999999 L 0 10 Q 0 0 10 0 Z" stroke-miterlimit="10" stroke-width="2" opacity="0.73"></path>
					 </a>
                  </g>
               </g>
            </g>
         </g>
      </g>
      <g transform="scale(1,1) matrix(1,0,0,1,325.22689075630257,10) translate(2,26.999999999999993)">
        <a xlink:href="/domains/mycoach/index.php/12-amarok/23-amaroktask?r=12#choosing-a-task-to-start-with">
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="normal" font-weight="bold" text-decoration="none" x="56.16219983782082" y="15">Find a task to</text>
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="normal" font-weight="bold" text-decoration="none" x="75.69345365251809" y="33">start with</text>
		</a>
      </g>
      <g transform="translate(0,0) matrix(1,0,0,1,470,110)">
         <g>
            <g transform="translate(0,0) scale(2.3294117647058825,0.8999999999999999)">
               <g>
                  <path fill="none" stroke="none" d="M 10 0 L 90 0 Q 100 0 100 10 L 100 90 Q 100 100 90 100 L 10 100 Q 0 100 0 90 L 0 10 Q 0 0 10 0 Z"></path>
                  <g transform="scale(0.4292929292929293,1.1111111111111112)">
					<a xlink:href="/domains/mycoach/index.php/12-amarok/22-amarokcode">
						<path id="codeBox" fill="#cc0000" stroke="none" d="M 10 0 L 222.94117647058826 0 Q 232.94117647058826 0 232.94117647058826 10 L 232.94117647058826 79.99999999999999 Q 232.94117647058826 89.99999999999999 222.94117647058826 89.99999999999999 L 10 89.99999999999999 Q 0 89.99999999999999 0 79.99999999999999 L 0 10 Q 0 0 10 0 Z" opacity="0.73"></path>
						<path fill="none" stroke="#cc0000" d="M 10 0 M 10 0 L 222.94117647058826 0 Q 232.94117647058826 0 232.94117647058826 10 L 232.94117647058826 79.99999999999999 Q 232.94117647058826 89.99999999999999 222.94117647058826 89.99999999999999 L 10 89.99999999999999 Q 0 89.99999999999999 0 79.99999999999999 L 0 10 Q 0 0 10 0 Z" stroke-miterlimit="10" stroke-width="2" opacity="0.73"></path>
					</a>
                  </g>
               </g>
            </g>
         </g>
      </g>
      <g transform="scale(1,1) matrix(1,0,0,1,472.218487394958,110) translate(2,26.999999999999993)">
		<a xlink:href="/domains/mycoach/index.php/12-amarok/22-amarokcode">
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="italic" font-weight="bold" text-decoration="none" x="33.189600840336112" y="15">Study and change</text>
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="italic" font-weight="bold" text-decoration="none" x="75.22085084033611" y="33">the code</text>
		</a>
      </g>
      <g transform="translate(0,0) matrix(1,0,0,1,620,10)">
         <g>
            <g transform="translate(0,0) scale(2.3294117647058825,0.8999999999999999)">
               <g>
                  <path fill="none" stroke="none" d="M 10 0 L 90 0 Q 100 0 100 10 L 100 90 Q 100 100 90 100 L 10 100 Q 0 100 0 90 L 0 10 Q 0 0 10 0 Z"></path>
                  <g transform="scale(0.4292929292929293,1.1111111111111112)">
					<a xlink:href="/domains/mycoach/index.php/12-amarok/21-amaroksubmit">
						<path id="patchBox" fill="#cc0000" stroke="none" d="M 10 0 L 222.94117647058826 0 Q 232.94117647058826 0 232.94117647058826 10 L 232.94117647058826 79.99999999999999 Q 232.94117647058826 89.99999999999999 222.94117647058826 89.99999999999999 L 10 89.99999999999999 Q 0 89.99999999999999 0 79.99999999999999 L 0 10 Q 0 0 10 0 Z" opacity="0.73"></path>
						<path fill="none" stroke="#cc0000" d="M 10 0 M 10 0 L 222.94117647058826 0 Q 232.94117647058826 0 232.94117647058826 10 L 232.94117647058826 79.99999999999999 Q 232.94117647058826 89.99999999999999 222.94117647058826 89.99999999999999 L 10 89.99999999999999 Q 0 89.99999999999999 0 79.99999999999999 L 0 10 Q 0 0 10 0 Z" stroke-miterlimit="10" stroke-width="2" opacity="0.73"></path>
					</a>
                  </g>
               </g>
            </g>
         </g>
      </g>
      <g transform="scale(1,1) matrix(1,0,0,1,622.218487394958,10) translate(2,26.999999999999993)">
		<a xlink:href="/domains/mycoach/index.php/12-amarok/21-amaroksubmit">
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="normal" font-weight="bold" text-decoration="none" x="58.23126496387127" y="15">Submit your</text>
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="normal" font-weight="bold" text-decoration="none" x="59.74168290210369" y="33">contribution</text>
		</a>
      </g>
      <g transform="translate(0,0) matrix(1,0,0,1,10,210)">
         <g>
            <g transform="translate(0,0) scale(8.880882352941176,0.3)">
               <g>
                  <path fill="none" stroke="none" d="M 10 0 L 90 0 Q 100 0 100 10 L 100 90 Q 100 100 90 100 L 10 100 Q 0 100 0 90 L 0 10 Q 0 0 10 0 Z"></path>
                  <g transform="scale(0.11260142407683392,3.3333333333333335)">
					<a xlink:href="/domains/mycoach/index.php/12-amarok/26-amarokcommunity">
						<path id="communicationBox" fill="#cc0000" stroke="none" d="M 10 0 L 878.0882352941177 0 Q 888.0882352941177 0 888.0882352941177 10 L 888.0882352941177 20 Q 888.0882352941177 30 878.0882352941177 30 L 10 30 Q 0 30 0 20 L 0 10 Q 0 0 10 0 Z" opacity="0.73"></path>
						<path fill="none" stroke="#cc0000" d="M 10 0 M 10 0 L 878.0882352941177 0 Q 888.0882352941177 0 888.0882352941177 10 L 888.0882352941177 20 Q 888.0882352941177 30 878.0882352941177 30 L 10 30 Q 0 30 0 20 L 0 10 Q 0 0 10 0 Z" stroke-miterlimit="10" stroke-width="2" opacity="0.73"></path>
					</a>
                  </g>
               </g>
            </g>
         </g>
      </g>
      <g transform="scale(1,1) matrix(1,0,0,1,18.45798319327731,210) translate(2,6)">
		<a xlink:href="/domains/mycoach/index.php/12-amarok/26-amarokcommunity">
			<text fill="rgb(255, 255, 255)" stroke="none" font-family="Helvetica" font-size="18px" font-style="normal" font-weight="bold" text-decoration="none" x="310.0548844537815" y="15">Support from the community</text>
		</a>
      </g>
   </g>
</svg>
            </div>
