
  <tr data-href="<%= project_url(project) %>" data-toggle="slidePanel">
    <td class="pre-cell"></td>
    <td class="cell-60 responsive-hide">
        <%= link_to project, class: "avatar" do %>
        <% image_tag project.image.url(:thumb), class:"img-fluid" %>
        <% end %>
      </a>
    </td>
    <td>
      <div class="content">
        <div class="title">
          <%= link_to project.name, project %>
        </div>
        <div class="metas">
          <span class="description"><%= project.description %></span>

        </div>
      </div>
    </td>
    <td class="cell-150 forum-posts">

       <div class="rating rating-sm" data-score="4" data-plugin="rating"></div>
    </td>
    <td class="suf-cell"></td>
  </tr>
