<div class="grid-stack-item"
data-gs-x="0"
data-gs-y="6"
data-gs-width="12"
data-gs-height="5"
data-gs-no-resize=""
data-gs-no-move=""
data-gs-locked="">

<div class="grid-stack-item-content panel panel-bordered" >
  <div class="panel-heading">
    <h3 class="panel-title" >Fórum</h3>
    <div class="panel-actions">
    </div>
  </div>
  <div class="panel-body">
    <ul class="list-group list-group-full">
      <% @forum.topics.each  do |topic| %>
      <li class="list-group-item">
        <div class="media">
          <div class="media-left">

          </div>
          <div class="media-body">
            <%= link_to forum_topic_path(@forum, topic) do %>

            <h4 class="media-heading"><%= topic.title %></h4>
            <% end %>

            <small>Created by <%= topic.user.username %></small>

          </div>

          <div class="media-right">

          </div>
        </div>
      </li>

      <% end %>

    </ul>

    <%= link_to new_forum_topic_path(@project.forum) do %>
    <button class="btn btn-primary">

      <i class="icon wb-plus" aria-hidden="true"></i>
      Create topic
    </button>
    <% end %>

  </div>
</div>
</div>
