<footer class="site-footer">
  <div class="site-footer-legal">© 2017 <%= site_name %></div>
  <div class="site-footer-right">
        <b>This work is a joint effort of:    </b>
            <a href="http://ccsl.ime.usp.br" target="_blank">
            <img src="http://igor.pro.br/domains/mycoach/images/ccsl.png" alt="CCSL" title="CCSL">

            <a href="http://www.utfpr.edu.br" target="_blank">
              <img src="http://igor.pro.br/domains/mycoach/images/utfpr.png" alt="UTFPR" title="UTFPR">
           </a>

            <a href="http://napsol.icmc.usp.br/" target="_blank">
            <img src="http://igor.pro.br/domains/mycoach/images/napsol.png" alt="NAPSoL" title="NAPSoL">
            </a>


            <a href="http://nap.usp.br/naweb/" target="_blank">
            <img src="http://igor.pro.br/domains/mycoach/images/naweb.gif" alt="NAWeb" title="NAWeb">
            </a>

            <a href="http://www.usp.br/" target="_blank">
            <img src="http://igor.pro.br/domains/mycoach/images/usp.png" alt="University of Sao Paulo" title="USP">
            </a>
</div>
</footer>
