<div class="panel-group panel-group-simple" id="siteMegaAccordion" aria-multiselectable="true"
role="tablist">
<ul class="blocks-3">
  <% User.limit(6).each do |user|%>
  <li class="text-center">
      <%= link_to user, class: "thumbnail m-0 avatar avatar-lg" do %>
      <%= image_tag user.avatar.url %>
    <% end %>
    <p><%= user.username %></p>
  </li>
  <% end %>

</ul>
</div>

