<ul class="blocks-3">
  <% Project.active.limit(6).each do |project|%>
  <li class="text-center">
      <%= link_to project, class: "thumbnail m-0 avatar avatar-lg" do %>
      <%=image_tag project.avatar.url %>
      <% end %>
    <p><%= project.name %></p>
  </li>
  <% end %>

</ul>

