<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="fade"
role="button">Trending <i class="icon md-chevron-down" aria-hidden="true"></i></a>
<div class="dropdown-menu" role="menu">
  <div class="mega-content">
    <div class="row">
      <div class="col-md-4">
        <h5>Top project tags</h5>
        <%= render 'header_trending_top_tags' %>
      </div>
      <div class="col-md-4">
        <h5>Top projects
        </h5>
        <%= render 'header_trending_top_projects' %>
      </div>
      <div class="col-md-4">
        <h5 >Top users(?)</h5>
        <!-- Accordion -->
        <%= render 'header_trending_top_users' %>
      <!-- End Accordion -->
    </div>
  </div>
</div>
</div>
