<ul class="blocks-2">
  <li class="mega-menu m-0">
    <ul class="list-icons">
      <% tags = Tag.first(8)
      tags = tags.in_groups_of(4,false)%>

      <% tags[0].each do |tag, count| %>
      <li><i class="md-chevron-right" aria-hidden="true"></i>
        <%= link_to "#{tag}", projects_path(search: tag.name)%>

      </li>
      <% end unless tags.empty? || tags[0].nil?  %>
    </ul>
  </li>
  <li class="mega-menu m-0">
    <ul class="list-icons">
      <% tags[1].each do |tag, count| %>
      <li><i class="md-chevron-right" aria-hidden="true"></i>
        <%= link_to "#{tag}", projects_path(search: tag)%>
      </li>
      <% end unless tags.empty? || tags[1].nil? %>
    </ul>
  </li>
</ul>
