div {
	border: 0px solid black; 
}

.row{
	background-color: white;
	padding: 10px;
}

.header{
	text-align: center;
	align-content: center;
}


.moderate {
	margin: 10px;

}


.submit{
	float:right;
	margin: 5px;
}
.approved {
	margin: 10px;
	float: right;
}

td, th {
	padding: 10px;
}

.title{
	text-align: center;
}